body {
    background-color: rgb(28, 61, 63);
    color: cornsilk;
    font-size: 15pt;
}

h1 {
    text-align: center;  
}

p {
    text-align: justify;
}

h2 {
    text-align: center;
}
img.isplayed {
    margin-left: auto;
    margin-right: auto;
    display: block;

}

h2#contato{
    text-align: left;
}

a{
    color: rgb(129, 86, 139);
}

strong {
    font-size: 16pt;
}
